
# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

# tmp file
*.sqlite
**/tmp

# cache
.hypothesis
.pytest_cache

# config
.env.prod
Admin_Config.yml
Plugins_Config.yml

# tools
in.json
out.ts
out.py

# debug
**/.coverage
**/.coverage.*
**/coverage.xml

### python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

### nodejs ###
**/node_modules